.shbg1 {
  background-image: url("https://raw.githubusercontent.com/sajib9090/shikder-drug-house-resources/main/images/service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 80rem;
  margin: 0 auto;
}
